*{
    background-color: rgb(240,255,240);
}
.heading{
    text-align: center;
    margin-top: 50px;
    font-size: 4em;
    color: rgb(255,140,0);
}

.name{
    height: 60px;
    font-size: 2em;
}
#name{
    height: 30px;
    width: 400px;
    font-size: 0.5em;
    margin-top: 15px;
}
.contact{
    height: 60px;
    font-size: 2em;
    padding-top: 5px;
}
#contact{
    height: 30px;
    width: 400px;
    font-size: 0.5em;
}
.email{
    height: 60px;
    font-size: 2em;
}
#email{
    height: 30px;
    width: 400px;
    font-size: 0.5em;
    margin-top: 15px;
}
.address{
    height: 180px;
    font-size: 2em;
}
#address{
    height: 150px;
    width: 600px;
    font-size: 0.5em;
    margin-top: 15px;
}
.idea{
    height: 200px;
    font-size: 2em;
}
#idea{
    height: 150px;
    width: 600px;
    font-size: 0.5em;
    margin-top: 15px;
}
.submit{
    margin-left: 450px;
}
